<html>
<body>
<h3>你好,<span th:text="${name}"></span>:</h3>
<div style="margin-left:50px">
	<P>服务对象信息:</P>
	<div style="margin-left:50px">
	<P>办公电话:<label th:text="${office}"></label></P>
	<P>手机:<label th:text="${mobile}"></label></P>
	<P>姓名:<label th:text="${name1}"></label></P>
	<P>单位:<label th:text="${danwei}"></label></P><br />
	<P>派发时间: <label th:text="${shijian}"></label></P>
	<P>备注信息: <label th:text="${remark}"></label></P><br />
	<P>请登陆系统及时处理.</P>
	</div>
</div>
</body>
</html>